<div class="container">
  <!-- <h1>Normal HostBinding </h1>
  <p appHighlight>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolore ut rerum
    quisquam dolorum architecto blanditiis inventore dicta veniam perspiciatis,
    harum deleniti non adipisci, similique eaque nihil quis maxime sunt!</p>

    <h1>Dynamic HostBinding </h1>
    <p appHighlight [backgroundColor]="'blue'" [textColor]="'white'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates a neque eum atque voluptas
      beatae itaque aspernatur ipsum provident! Veritatis totam asperiores ex quidem quis voluptates
      labore architecto corporis esse?
      Soluta exercitationem iure quis praesentium, eligendi itaque sapiente excepturi, atque nihil autem
      quibusdam! Quam, ipsum! Officiis magnam ipsa, ullam ad aut blanditiis nemo ducimus quibusdam inventore vel non, repellendus dolore.</p> -->

    <h1>Dynamic HostBinding </h1>
    <p [appHighlight]="{backgroundColor:'orange', textColor:'white'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates a neque eum atque voluptas
      beatae itaque aspernatur ipsum provident! Veritatis totam asperiores ex quidem quis voluptates
      labore architecto corporis esse?
      Soluta exercitationem iure quis praesentium, eligendi itaque sapiente excepturi, atque nihil autem
      quibusdam! Quam, ipsum! Officiis magnam ipsa, ullam ad aut blanditiis nemo ducimus quibusdam inventore vel non, repellendus dolore.</p>
  </div>
